.buttonnewtask {
  padding: 10px 20px;
  background-color: #c17aff;
  border: 2px solid #000;
  border-radius: 20px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: -25px;
}