.headingtodo {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  background-color: #c17aff;
  border: 2px solid #000;
  margin-bottom: 10px;
}