.footer {
  height: 100px;
  width: 100%;
  background-color: #91e9fc;
  border: 2px solid;
  font-size: 36px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}