.box {
  height: 100px;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border: 2px solid #002664;
  background-color: #ecdbde;
}